%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  / Brand/logo
  %a.navbar-brand{:href => "#"} TAX PRO BOOK KEEPING
  / Links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{:href => "/home"} Home
    %li.nav-item
      %a.nav-link{:href => "/ourservices"} Our Services
    %li.nav-item
      %a.nav-link{:href => "/about"} About US
