%nav.navbar.navbar-expand-sm.bg-success.navbar-dark.fixed-top
  / Brand/logo
  %a.navbar-brand.align-content-end{:href => "/about"} TAX PRO BOOK KEEPING
  / Links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{:href => "/about"} About Us
    %li.nav-item
      %a.nav-link{:href => "/ourservices"} Our Services
    %li.nav-item
      %a.nav-link{:href => "/contact"} Contact Us
