.container
  .row
    .col-sm-4
      %h3 Accounting & Bookkeeping
      %p We offer a full range of accounting services:
      %ul
        %li General Bookkeeping
        %li Accounting Solutions and Services
        %li Corporate and Payroll Registration
        %li Estate and Trust Tax
        %li HST compliance and filings
        %li Corporate Forecasts
        %li Cash flow and Financial Management
        %li Business Start-up Preparation and Advice
        %li Coast to Coast Accounting/ Tax Services
        %li Payroll preparation and accounting.

    .col-sm-4
      %h3 Tax Returns:
      %p Personal and Corporate  Tax:
      %ul
        %li We specialize in all categories of Tax Returns and assist our clients with their tax preparation needs.
        %li We also offer Tax Planning for Investment Assets.

    .col-sm-4
      %h3 Consultation:
      %p You got questions, we got ANSWERS!!
      %ul
        %li We specialize in all categories of Tax Returns and assist our clients with their tax preparation needs.
        %li We also offer Tax Planning for Investment Assets
      %a.btn.btn-info.btn-block{:href => "contact", :role => "button"} Schedule Your Free Consultation Appointment!!!
      
