 !!!
 %html
   %head
     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
     :css
       body {background-color: blue;}
       h1   {color: green;}
       h2   {color: green;}
       h3   {color: green;}
       h4   {color: green;}
       p    {color: green;}
       ul   {color: green;}
       form {color: green;}
